body {
    font-family: Arial, sans-serif;
    background: url('../imagens/WhatsApp\ Image\ 2024-11-20\ at\ 14.52.11.jpeg') no-repeat center center fixed;
    background-size: cover; /* Ajusta a imagem para cobrir toda a tela */
    margin: 0;
    padding: 0;
}

.header {
    background-color: rgba(0, 169, 157, 0.9); /* Fundo translúcido */
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 24px;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.box {
    background-color: rgba(255, 255, 255, 0.9); /* Fundo translúcido */
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    width: 400px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.box h2 {
    font-size: 18px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.btn-primary {
    background-color: #00a99d;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    margin-top: 10px;
    margin-right: 5px;
    border-radius: 5px;
}

.btn-primary:hover {
    background-color: #007f79;
}

.buttons-container a {
    color: white;
    background-color: #333;
    padding: 10px 15px;
    margin: 5px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    font-size: 14px;
}

.buttons-container a:hover {
    background-color: #555;
}