<!DOCTYPE html> 
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Paciente</title>
    <link rel="stylesheet" href="../static/css/cadastro.css">
</head>
<body>

    <div class="header">
        Cadastro de Paciente
    </div>
    <div class="home-button-container">
        <a href="index.html">Início</a>
    </div>
    <div class="container">
        <div class="box">
            <h2>Cadastro de Paciente</h2>
            <form action="/cadastrarUsuario" method="POST">
                <div class="form-group">
                    <label for="nome">Nome *</label>
                    <input type="text" id="nome" name="nome" required>
                </div>
                <div class="form-group">
                    <label for="email">E-mail *</label>
                    <input type="email" id="email" required placeholder="usuario@email.com" name="email" required>
                </div>
                <div class="form-group">
                    <label for="senha">Senha *</label>
                    <input type="password" id="senha" name="senha" required>
                </div>
                <div class="form-group">
                    <label for="idade">Idade *</label>
                    <input type="number" id="idade" name="idade" required>
                </div>
                <div class="form-group">
                    <label for="sexo">Sexo *</label>
                    <select id="sexo" name="sexo" required>
                        <option value="Masculino">Masculino</option>
                        <option value="Feminino">Feminino</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="telefone">Telefone *</label>
                    <input type="tel" id="telefone" name="telefone" placeholder="(xx) xxxxx-xxxx" required>
                </div>
                <div class="form-group">
                    <label for="endereco">Endereço *</label>
                    <input type="text" id="endereco" required placeholder="Rua Exemplo, 123" name="endereco" required>
                </div>
                <button type="submit" class="btn-primary">Cadastrar</button>
            </form>
        </div>
    </div>
    <button class="btn-voltar" onclick="history.back()">Voltar</button>
</body>
</html>