<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clínica Odontológica Sorriso Perfeito</title>
    <link rel="stylesheet" href="/static/css/index.css">
    
</head>
<body>
    <div class="home-button-container">
        <a href="index.html">Início</a>
    </div>

    <div class="login-container">
        <a href="login.html">Login</a>
    </div>

    <div class="header">
        <h1>CLINIX</h1>
        <p>Profissionais qualificados para cuidar do seu sorriso.</p>
    </div>

    <div class="container">

        <div class="box dentist-card">
            <img src="../arquivos/Foto_Glaydson.png" alt="Foto do Dr.Glaydson Ribeiro">
            <h2>Dr. Glaydson Ribeiro</h2>
            <p class="specialty">Especialista em Ortodontia</p>
            <p>Focada em alinhamento dental e estética do sorriso para crianças e adultos.</p>
            <a href="login.html" class="btn-primary">Agendar Consulta</a>
        </div>

    </div>

    <div class="container" id="dentistas-destaque">
    </div>

<div style="text-align: center; margin-top: 20px;">
    <a href="login.html" class="btn-primary">Ver Todos os Profissionais</a>
</div>


</body>
</body>
</html>