<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Dentistas</title>
    <link rel="stylesheet" href="../static/css/tela_medico.css">
</head>
<body>
    <div class="header">
        Lista de Dentistas
    </div>
    <div class="home-button-container">
            <a href="index.html">Início</a>
        </div>
    <div class="container">
        <div class="box">
            <h2>Lista de Dentistas</h2>
            <table>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Idade</th>
                        <th>Status</th>
                        <th>Especialidade</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>
                    {% for medico in medicos %}
                    <tr>
                        <td>{{ medico[1] }}</td> <td>{{ medico[2] }}</td> <td>{{ medico[3] }}</td> <td>{{ medico[4] }}</td> <td>{{ medico[5] }}</td> <td>
                            <form method="GET" action="/disponibilidades/{{ medico[0] }}">
                                <button type="submit">Agendar Consulta</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="button-group">
                <button onclick="window.location.href='/tela_usuario'">Voltar</button>
            </div>
        </div>
    </div>
    
</body>
</html>