<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nossos Dentistas</title>
    <link rel="stylesheet" href="../static/css/tela_usuario.css"> </head>
<body>
    <div class="header">
        Nossos Dentistas
    </div>
    <div class="home-button-container">
        <a href="/">Início</a>
    </div>
    <div class="container">
        <div class="box">
            <h2>Profissionais Disponíveis</h2>
            {% if medicos %}
                <table>
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Especialidade</th>
                            <th>Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for medico in medicos %}
                        <tr>
                            <td>{{ medico[1] }}</td>
                            <td>{{ medico[5] }}</td>
                            <td>
                                <a href="/disponibilidades/{{ medico[0] }}">Ver Horários</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>Nenhum dentista encontrado.</p>
            {% endif %}
        </div>
    </div>
    <button class="btn-voltar" onclick="history.back()">Voltar</button>
</body>
</html>