<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atualizar Cadastro Médico</title>
    <link rel="stylesheet" href="../static/css/atualizar_cadastro_medico.css">
</head>
<body>

    <div class="header">
        Atualizar Cadastro Médico
    </div>

    <div class="container">
        <div class="box">
            <h2>Atualização de Cadastro</h2>
            <form action="/atualizar_cadastro_medico" method="post">
                <input type="hidden" name="crm" value="{{ medico[7] }}">

                <div class="form-group">
                    <label for="nome">Nome *</label>
                    <input type="text" id="nome" name="nome" value="{{ medico[0] }}" required>
                </div>
                <div class="form-group">
                    <label for="email">Email *</label>
                    <input type="email" id="email" name="email" value="{{ medico[1] }}" required>
                </div>
                <div class="form-group">
                    <label for="senha">Senha *</label>
                    <input type="text" id="senha" name="senha" value="{{ medico[6] }}" required>
                </div>
                <div class="form-group">
                    <label for="idade">Idade:</label>
                    <input type="number" id="idade" name="idade" value="{{ medico[4] }}" required>
                </div>
                <div class="form-group">
                    <label for="status">Status *</label>
                    <select id="status" name="status" required>
                        <option value="Ativo" {% if medico[5] == 'Ativo' %}selected{% endif %}>Ativo</option>
                        <option value="Inativo" {% if medico[5] == 'Inativo' %}selected{% endif %}>Inativo</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="especialidade">Especialidade *</label>
                    <input type="text" id="especialidade" name="especialidade" value="{{ medico[2] }}" required>
                </div>
                <div class="form-group">
                    <label for="disponibilidade">Disponibilidade *</label>
                    <input type="datetime-local" id="disponibilidade" name="disponibilidade" value="{{ medico[3]|replace(' ', 'T') }}" required>
                </div>
                <button type="submit" class="btn-primary">Atualizar</button>
            </form>
        </div>
    </div>
</body>
</html>