<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>HOME</title>
        <link rel="stylesheet" href="../static/css/home.css">
    </head>
    <body>
        {% set menssagem = get_flashed_messages() %}
        {% if menssagem %}
            <div class="flash_alerta">
                {{menssagem[0]}}
            </div>
        {% endif %}
        <div id="form_fundo">
            <h1>LOGIN</h1>
            <h1>/////////////////////</h1>
            <div id="form_frente">
                <form action="/login" id="login" method="post">
                    <label for="email">EMAIL</label>
                    <input type="text" name="email" id="email" required placeholder="Digite seu email"><br><br>
                    <label for="senha" id="senha">SENHA</label>
                    <input type="password" name="senha" id="senha" required placeholder="Digite sua senha"><br><br>
                    <button type="submit" id="btn_login">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>Entrar
                    </button>
                </form>
                <button id="btn_cadastro" onclick="location.href='/cadastro'">Cadastrar</button>
                <button id="btn_esqueci_senha" onclick="location.href='/esqueci_senha'">Esqueceu Senha</button>
                <button onclick="window.location.href='/login_medico'">Sou Médico</button>
            </div>
        </div>
    </body>
</html>