<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Download Arquivos</title>
        <link rel="stylesheet" href="../static/css/pag_download.css">
    </head>
    <body>
        <div id="form_fundo">
            <h1>DOWNLOAD DE ARQUIVO</h1>
            <div id="form_frente">

                {% if arquivos %}
                    <form action="/download" method="post">
                        <select name="arquivosParaDownload"id="arquivosParaDownload">
                            {% for documento in arquivos %}
                                <option value="{{documento}}">{{documento}}</option>
                            {% endfor %}
                        </select><br><br><br>
                        <button type="submit">DOWNLOAD</button>
                    </form>
                {% else %}
                    <h1>Sem arquivos no banco de dados para download</h1>
                {% endif %}

            </div>
        </div>
    </body>
</html>