<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de Médicos</title>
    <link rel="stylesheet" href="../static/css/pag_medico.css">
</head>
<body>
    <div class="header">
        Tela do Médico
    </div>
    <div class="container">
        <div class="box">
            <h2>Tela do Médico</h2>
            <table>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Especialidade</th>
                        <th>Disponibilidade</th>
                        <th>Idade</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ medico[0] }}</td>
                        <td>{{ medico[1] }}</td>
                        <td>{{ medico[2] }}</td>
                        <td>{{ medico[3] }}</td>
                        <td>{{ medico[4] }}</td>
                        <td>{{ medico[5] }}</td>
                        <td>
                            <div class="button-group">
                                <button onclick="window.location.href='/atualizar_cadastro_medico?crm={{ medico[6] }}'" class="btn">Atualizar Dados</button>
                                <form action="/excluir_cadastro_medico" method="POST" style="display:inline;">
                                    <input type="hidden" name="crm" value="{{ medico[6] }}">
                                    <button type="submit" class="btn-secondary">Excluir Cadastro</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>