<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela do Usuário</title>
    <link rel="stylesheet" href="../static/css/tela_usuario.css">
</head>
<body>
    <div class="container">
        <h1>Informações do Usuário</h1>
        <div class="user-info">
            <p><strong>Email:</strong> {{ usuario.email }}</p>
            <p><strong>Nome:</strong> {{ usuario.nome }}</p>
            <p><strong>Sexo:</strong> {{ usuario.sexo }}</p>
            <p><strong>Idade:</strong> {{ usuario.idade }}</p>
        </div>
        <button onclick="window.location.href='/tela_medico'">Médicos</button>
        <button onclick="window.location.href='/pag_download'">Baixar Arquivos</button>
    </div>